* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.main_sec {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 20, 50, 0.256);
  display: flex;
}

/* tasbeeh button Section */

.tasbeeh_sec,
.tasbeeh_login_sec {
  width: 100%;
  max-width: 300px;
  gap: 25px;
}
.tasbeeh_heading {
  font-weight: 900;
  color: white;
  font-style: italic;
  text-align: center;
  margin: 28px 0;
  text-transform: uppercase;
  text-shadow: 1px 2px rgb(27, 27, 27);
}
.more {
  border: none;
  outline: none;
  background-color: #b7c2ee;
  color: #001e4b;
  font-size: 14px;
  padding: 6px 28px;
  border-radius: 28px;
  margin-bottom: 28px;
  font-weight: bolder;
}

.tasbeeh_sec > button {
  width: 250px;
  padding: 6px 4px;
  outline: none;
  border: none;
  background: #000;
  color: white;
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.tasbeeh_sec > button:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  transform: scale(1.1);
  width: 235px;
}
.tasbeeh_login_sec > button {
  width: 105px;
  padding: 6px 4px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.tasbeeh_login_sec > button:hover {
  transform: scale(1.1);
}

/* Dashboard Section  */

.dashboard_sec {
  width: calc(100% - 300px);
  padding: 16px 50px;
  box-sizing: border-box;
  display: flex;
  align-content: space-evenly;
  justify-content: center;
  flex-wrap: wrap;
}
.dashboard_sec > h1 {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-shadow: 1px 2px gray;
}
.dashboard_sec > section {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.dash_card {
  width: 270px;
  padding: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 2px 2px rgb(52, 52, 52);
  border-radius: 10px;
  border-bottom: 1px solid white;
  background-color: white;
  max-width: 350px;
}

.dash_card > h3 {
  font-weight: 800;
  font-style: italic;
}
.dash_card > p {
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
}

/* Tasbeeh Counter Section  */

.counter_sec {
  width: calc(100% - 300px);
  padding: 38px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter_sec > section {
  width: 350px;
  height: 300px;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 2px rgb(52, 52, 52);
  border-radius: 10px;
  border-bottom: 1px solid white;
  background-color: white;
}

.counter_sec > section > h1 {
  font-size: 44px;
  font-weight: 800;
}
.counter_sec > section > p {
  font-size: 22px;
  font-weight: bolder;
}
.count_btn button {
  width: 100px;
  border: none;
  outline: none;
  padding: 6px 2px;
  font-size: 18px;
  font-weight: bolder;
  background-color: black;
  color: white;
  border-radius: 12px;
  margin-right: 20px;
  margin-left: 20px;
}

.save_btn {
  width: 240px;
  border: none;
  outline: none;
  padding: 8px 3px;
  background-color: black;
  color: white;
  border-radius: 12px;
}

/* Sign Up Section */

.signUp_sec {
  width: calc(100% - 300px);
  padding: 38px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.signUp_sec > section {
  width: 300px;
  border-radius: 6px;
  box-shadow: 4px 6px 10px rgb(0, 15, 36);
  border: 1px solid gray;
  padding: 8px 18px;
  background-color: rgba(0, 15, 36, 0.71);
}
.input_sec {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input_sec > label {
  font-size: 22px;
  font-weight: 600;
  margin-top: 12px;
  color: white;
}
.input_sec > input {
  width: 260px;
  padding: 6px 4px;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
}
.btn_sec {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.btn_sec button {
  width: 100px;
  border: none;
  outline: none;
  background-color: #0d6dfe;
  padding: 4px 4px;
  border-radius: 5px;
}

@media only screen and (max-width: 730px) {
  .main_sec {
    display: block;
  }
  .dashboard_sec {
    width: auto;
  }
  .counter_sec {
    width: auto;
  }
  .signUp_sec {
    width: auto;
  }
}
@media (max-width: 1150px) {
  .tasbeeh_sec > button:hover {
    background-color: #000;
    color: white;
    transform: scale(1);
    width: 250px;
  }
  .tasbeeh_login_sec > button:hover {
    transform: scale(1);
  }
}
